*{
    padding: 0;
    margin: 0;
    
}
html,body{
    box-sizing: border-box;
    height: 100vh;
  
   
}

div{
    margin-top: 15px;
   margin: auto;
    background-color: rgb(255, 255, 255);
    border: solid rgb(60, 236, 236);
    padding: 20px;
    width: 300px;
    text-align: center;

}

section{
   
    align-items: center;
    justify-content: center;
}
form{
    background-color: rgb(159, 206, 233);
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    padding: 20px;
   border: solid rgb(60, 236, 236);
    width: 300px;
}
#botao{
    display: flex;
    position: absolute;
    left: 30%;
}